@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mea+Culpa&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

*{
   font-family: "Plus Jakarta Sans", sans-serif;
}

